body {
    font-family: sans-serif;
}
canvas {
    border: 1px solid #000;
    display: block;
    cursor: pointer;
}
.selected-figure {
    background: #000;
    color:#fff;
}
button {
    border:0;
    height: 40px;
    width:90px;
    margin: 5px;
    display: inline;
}